body{background-color: white;}

h1 {
    color: darkred;
}
h2 {
    color: darkgreen;
    text-transform: uppercase;

}

h2.secondary{
    color: dodgerblue;
    text-transform: lowercase;

}

h2.alternative {
    color: lime;
    text-transform: none;
}

#Footer{
    display: block;
    margin-left: 0;
    margin-right: 0;
    height: 387;
    width: 6050;
}